/********** Template CSS **********/
:root {
    --primary: #46b3d3;
    --light: #F3F6F8;
    --dark: #0E2E50;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.navbar .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #FFFFFF;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #FFFFFF;
}

.sticky-top.navbar .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.sticky-top.navbar .navbar-nav .nav-link:hover,
.sticky-top.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar {
        position: relative;
        background: #FFFFFF;
    }

    .navbar .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar .navbar-nav .nav-link,
    .sticky-top.navbar .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark);
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
    }

    .navbar .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .2);
        z-index: 999;
    }
    
    .sticky-top.navbar {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: 10px;
        left: 0;
        background: #FFFFFF;
        opacity: 0;
        transition: .5s;
    }

    .sticky-top.navbar .navbar-nav .nav-link::before {
        background: var(--primary);
    }

    .navbar .navbar-nav .nav-link:hover::before,
    .navbar .navbar-nav .nav-link.active::before {
        bottom: -1px;
        left: 0;
        opacity: 1;
    }

    .navbar .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Hero Header ***/
.hero-header {
    margin-bottom: 6rem;
    padding: 12rem 0 9rem 0;
    background: url(../img/shape-bottom.png) center bottom no-repeat;

}

.page-header {
    margin-bottom: 6rem;
    padding: 12rem 0 6rem 0;
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }

    .page-header {
        padding: 6rem 0;
    }
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: rgba(256, 256, 256, .5);
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    border: 1px solid transparent;
    transition: .5s;
}

.service-item:hover {
    box-shadow: none;
    border-color: var(--primary);
}

.service-item .service-icon,
.service-item .service-btn {
    margin: -1px 0 0 -1px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 5px 0;
    transition: .5s;
}

.service-item .service-btn {
    margin: -1px -1px 0 0;
    border-radius: 0 5px;
    opacity: 0;
}

.service-item:hover .service-btn {
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    border: 1px solid transparent;
    transform: scale(.85);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    box-shadow: none;
    border-color: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-item img {
    width: 50px;
    height: 50px;
}

.testimonial-carousel .owl-nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Team ***/
.team-item {
    position: relative;
    padding: 30px;
    text-align: center;
    transition: .5s;
    z-index: 1;
}

.team-item::before,
.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    transition: .5s;
    z-index: -1;
}

.team-item::after {
    top: auto;
    bottom: 0;
}

.team-item:hover::before,
.team-item:hover::after {
    background: var(--primary);
}

.team-item h5,
.team-item p {
    transition: .5s;
}

.team-item:hover h5,
.team-item:hover p {
    color: #FFFFFF;
}

.team-item img {
    padding: 15px;
    border: 1px solid var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
.apply-process-area .single-process .process-ion span{font-size:60px;margin-bottom:13px;color:#fff;margin-bottom:20px}.apply-process-area .single-process .process-cap h5{font-weight:700;font-size:24px;color:#fff;line-height:1.4;margin-bottom:20px}.apply-process-area .single-process .process-cap p{color:#a5aaca}.apply-bg{background-size:cover;background-repeat:no-repeat}.support-company-area .support-location-img{position:relative}.support-company-area .support-location-img img{width:100%}
 .support-company-area .support-location-img .support-img-cap{position:absolute;bottom:0px;background:#1f2b7b;padding:59px 28px;border-radius:5px;left:-100px}@media only screen and (min-width: 992px) and (max-width: 1199px){.support-company-area .support-location-img .support-img-cap{padding:27px 18px;left:-59px}}@media (max-width: 767px){.support-company-area .support-location-img .support-img-cap{left:0px;padding:35px 0px}}@media only screen and (min-width: 576px) and (max-width: 767px){.support-company-area .support-location-img .support-img-cap{left:0px;padding:35px 18px}}@media only screen and (min-width: 768px) and (max-width: 991px){.support-company-area .support-location-img .support-img-cap{left:0px;padding:35px 18px}}.support-company-area .support-location-img .support-img-cap span{font-size:60px;color:#fff;text-transform:uppercase;font-weight:700;font-family:"Muli",sans-serif;line-height:1.2}@media (max-width: 767px){.support-company-area .support-location-img .support-img-cap span{padding:6px 40px;font-size:38px}}@media only screen and (min-width: 992px) and (max-width: 1199px){.support-company-area .support-location-img .support-img-cap span{font-size:35px}}@media only screen and (min-width: 768px) and (max-width: 991px){.support-company-area .support-location-img .support-img-cap span{font-size:35px}}@media only screen and (min-width: 576px) and (max-width: 767px){.support-company-area .support-location-img .support-img-cap span{font-size:35px}}.support-company-area .support-location-img .support-img-cap P{color:#fff;line-height:1;margin:0;font-size:20px}.support-company-area .right-caption{position:relative;right:-50px}@media only screen and (min-width: 992px) and (max-width: 1199px){.support-company-area .right-caption{right:-25px}}@media only screen and (min-width: 576px) and (max-width: 767px){.support-company-area .right-caption{right:0px;margin-bottom:40px}}@media (max-width: 767px){.support-company-area .right-caption{right:0px;margin-bottom:40px}}@media only screen and (min-width: 768px) and (max-width: 991px){.support-company-area .right-caption{right:0px;margin-bottom:40px}}.support-company-area .right-caption .support-caption{padding-right:144px}@media (max-width: 767px){.support-company-area .right-caption .support-caption{padding-right:0px}}@media only screen and (min-width: 576px) and (max-width: 767px){.support-company-area .right-caption .support-caption{padding-right:0px}}@media only screen and (min-width: 992px) and (max-width: 1199px){.support-company-area .right-caption .support-caption{padding-right:70px}}.support-company-area .right-caption .support-caption p{margin-bottom:46px;font-size:15px}.support-company-area .right-caption
  .support-caption p.pera-top{font-size:17px;font-weight:700;color:#0b0b2b}
  .single-job-items{padding:36px 30px;display:flex;justify-content:space-between;flex-wrap:wrap;-webkit-transition:.4s;-moz-transition:.4s;-o-transition:.4s;transition:.4s}@media only screen and (min-width: 768px) and (max-width: 991px){.single-job-items{padding:20px 7px}}@media only screen and (min-width: 576px) and (max-width: 767px){.single-job-items{padding:20px 25px}}.single-job-items .company-img img{overflow:hidden;float:left;margin-right:32px;z-index:999}@media (max-width: 767px){.single-job-items .job-tittle{padding-top:25px}}.single-job-items .job-tittle a h4{color:#28395a;font-size:24px;-webkit-transition:.4s;-moz-transition:.4s;-o-transition:.4s;transition:.4s}.single-job-items .job-tittle a h4:hover{color:#8b92dd}.single-job-items .job-tittle ul li{display:inline-block;margin-right:48px;font-size:15px;color:#808080;line-height:1.8}@media only screen and (min-width: 768px) and (max-width: 991px){.single-job-items .job-tittle ul li{margin-right:18px}}@media (max-width: 767px){.single-job-items .job-tittle ul li{margin-right:0px;margin-bottom:7px}}@media only screen and (min-width: 576px) and (max-width: 767px){.single-job-items .job-tittle ul li{margin-right:8px}}.single-job-items .job-tittle ul li:last-child{margin-right:0px}.single-job-items .job-tittle ul li i{font-size:14px;color:#bbbbbb;margin-right:10px}@media only screen and (min-width: 768px) and (max-width: 991px){.single-job-items .job-tittle2{padding-top:25px}}.single-job-items:hover{box-shadow:0px 22px 57px 0px rgba(34,41,72,0.05)}.single-job-items .job-items{display:flex;flex-wrap:wrap}@media only screen and (min-width: 576px) and (max-width: 767px){.items-link{padding-top:35px;text-align:center}}@media (max-width: 767px){.items-link{padding-top:35px;text-align:center}}.items-link a{color:#8b92dd;display:block;border:1px solid #8b92dd;border-radius:30px;padding:4px 33px;text-align:center;margin-bottom:25px}@media only screen and (min-width: 768px) and (max-width: 991px){.items-link a{padding:4px 19px}}.items-link a:hover{color:#fff;background:#8b92dd;border:1px solid transparent}.items-link span{color:#454d72;display:block}@media only screen and (min-width: 992px) and (max-width: 1199px){.items-link2{padding-top:35px;text-align:center}}@media only screen and (min-width: 768px) and (max-width: 991px){.items-link2{padding-top:35px;text-align:center}}.testimonial-area{background-size:cover;background-repeat:no-repeat}.testimonial-area .testimonial-caption .testimonial-top-cap img{margin-bottom:50px;width:auto;display:inline-block}@media only screen and (min-width: 768px) and (max-width: 991px){.testimonial-area .testimonial-caption .testimonial-top-cap img{margin-bottom:30px}}@media (max-width: 767px){.testimonial-area .testimonial-caption .testimonial-top-cap img{margin-bottom:30px}}.testimonial-area .testimonial-caption .testimonial-top-cap p{color:#282828;font-weight:300;line-height:1.6;font-size:24px;font-style:italic}@media only screen and (min-width: 992px) and (max-width: 1199px){.testimonial-area .testimonial-caption .testimonial-top-cap p{font-size:18px;line-height:1.6;font-size:16px}}@media only screen and (min-width: 768px) and (max-width: 991px){.testimonial-area .testimonial-caption .testimonial-top-cap p{margin-bottom:25px;font-size:16px;line-height:1.7;padding:0;font-size:17px}}@media (max-width: 767px){.testimonial-area .testimonial-caption .testimonial-top-cap p{margin-bottom:25px;font-size:16px;line-height:1.7;padding:0 5px;font-size:18px}}.testimonial-area .testimonial-caption .testimonial-founder .founder-img img{margin-bottom:30px;display:inline-block}.testimonial-area .testimonial-caption .testimonial-founder .founder-img span{color:#3f4451;font-size:20px;font-weight:600;line-height:1;display:block;font-family:"Barlow",sans-serif;margin-bottom:10px}.testimonial-area .testimonial-caption .testimonial-founder .founder-img p{font-size:14px;font-weight:300}.testimonial-area .dot-style .slick-dots{text-align:center;bottom:-58px;left:0;right:0;position:absolute}.testimonial-area .dot-style .slick-dots li{display:inline-block}.testimonial-area .dot-style .slick-dots button{text-indent:-100000px;height:9px;width:9px;border:0;padding:0;margin:0 4px;cursor:pointer;border-radius:50%;background:#c0c0c0}.testimonial-area .dot-style .slick-dots .slick-active button{background:#1b83bf;background:#1b83bf;height:12px;width:12px;position:relative;top:-1px}.h1-testimonial-active button.slick-arrow{position:absolute;top:50%;left:-133px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);border:0;padding:0;z-index:2;height:45px;width:45px;line-height:15px;border-radius:50%;cursor:pointer;font-size:20px;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;color:#fff;opacity:0;visibility:hidden;background:#1b83bf}@media only screen and (min-width: 576px) and (max-width: 767px){.h1-testimonial-active button.slick-arrow{left:-45px}}@media only screen and (min-width: 576px) and (max-width: 767px){.h1-testimonial-active button.slick-arrow{left:-45px}}.h1-testimonial-active button.slick-next{left:auto;right:-133px}@media only screen and (min-width: 576px) and (max-width: 767px){.h1-testimonial-active button.slick-next{right:-45px}}.h1-testimonial-active:hover button.slick-prev{left:-120px}@media only screen and (min-width: 576px) and (max-width: 767px){.h1-testimonial-active:hover button.slick-prev{left:-35px}}.h1-testimonial-active:hover button.slick-next{right:-120px}@media only screen and (min-width: 576px) and (max-width: 767px){.h1-testimonial-active:hover button.slick-next{right:-37px}}.h1-testimonial-active:hover button{opacity:1;visibility:visible}.t-bg{background:#021a47}.slick-initialized .slick-slide{outline:0}
  .footer-area .footer-social2 a:hover{background:#1b83bf;color:#7f7f7f;border:1px solid transparent}.footer-area .footer-pera p{color:#868c98;padding-right:52px;font-size:16px;margin-bottom:50px;line-height:1.8}@media only screen and (min-width: 768px) and (max-width: 991px){.footer-area .footer-pera p{padding-right:0px}}.footer-area .footer-pera.footer-pera2 p{padding:0}.footer-area .footer-tittle h4{color:#ffffff;font-size:20px;margin-bottom:29px;font-weight:400;text-transform:uppercase}.footer-area .footer-tittle ul li{color:#868c98;margin-bottom:9px}.footer-area .footer-tittle ul li a{color:#868c98;font-weight:300}.footer-area .footer-tittle ul li a:hover{color:#1b83bf;padding-left:5px}.footer-area .footer-tittle-bottom span{display:inline-block;color:#fff;font-weight:600;font-size:24px;margin-right:11px}@media (max-width: 767px){.footer-area .footer-tittle-bottom span{font-size:20px}}.footer-area .footer-tittle-bottom p{display:inline-block;color:#fff}.footer-area .footer-form{margin-top:40px}.footer-area .footer-form form{position:relative}.footer-area .footer-form form input{width:100%;height:43px;padding:10px 20px;border:1px solid #fff;border-radius:5px}.footer-area .footer-form form .form-icon button{position:absolute;top:0;right:0;background:none;border:0;cursor:pointer;padding:13px 22px;background:#1b83bf;line-height:1;border-radius:0 3px 3px 0}.footer-area .info.error{color:#fb246a}.footer-bg{background:#010b1d}.footer-bottom-area .footer-border{border-top:1px solid #2d3544;padding:33px 0px 20px}.footer-bottom-area .footer-copy-right p{color:#888888;font-weight:300;font-size:16px;line-height:2;margin-bottom:12px}@media (max-width: 767px){.footer-bottom-area .footer-copy-right p{margin-bottom:20px}}@media only screen and (min-width: 768px) and (max-width: 991px){.footer-bottom-area .footer-copy-right p{margin-bottom:20px}}.footer-bottom-area .footer-copy-right p i{color:#fb246a}.footer-bottom-area .footer-copy-right p a{color:#fb246a}.footer-bottom-area .footer-copy-right p a:hover{color:#fff}@media (max-width: 767px){.footer-bottom-area .footer-social{float:left}}@media only screen and (min-width: 768px) and (max-width: 991px){.footer-bottom-area .footer-social{float:left}}.footer-bottom-area .footer-social a i{color:#888888;margin-left:13px;font-size:14px;-webkit-transition:.4s;-moz-transition:.4s;-o-transition:.4s;transition:.4s}.footer-bottom-area .footer-social a i:hover{color:#fb246a}.footer-wejed{padding-top:120px;padding-bottom:40px}@media only screen and (min-width: 992px) and (max-width: 1199px){.footer-wejed{padding-top:50px;padding-bottom:40px}}@media only screen and (min-width: 768px) and (max-width: 991px){.footer-wejed{padding-top:50px;padding-bottom:40px}}@media only screen and (min-width: 576px) and (max-width: 767px){.footer-wejed{padding-top:50px;padding-bottom:40px}}@media (max-width: 767px){.footer-wejed{padding-top:20px;padding-bottom:40px}}.hero-caption span{color:#fff;font-size:16px;display:block;margin-bottom:24px;font-weight:600;padding-left:95px;position:relative}
  .hero-caption span::before{position:absolute;content:"";width:75px;height:3px;background:#1b83bf;left:0;top:52%;transform:translateY(-50%)}.hero-caption h2{color:#fff;font-size:50px;font-weight:700}@media (max-width: 767px){.job-post-company{padding-top:70px;padding-bottom:70px}}@media only screen and (min-width: 576px) and (max-width: 767px){.job-post-company{padding-top:70px;padding-bottom:70px}}@media only screen and (min-width: 768px) and (max-width: 991px){.job-post-company{padding-top:70px;padding-bottom:70px}}.post-details2 ul{padding-left:30px}.post-details2 ul li{list-style-type:circle}.post-details3{padding:30px 30px 30px 30px;border:1px solid #ededed}
  .post-details3 ul li{display:flex;justify-content:space-between;margin-bottom:12px}.post-details3 ul li:last-child{margin-bottom:50px}.post-details4 span{color:#5b5c6e;font-weight:700;margin-bottom:10px;display:block;font-size:18px}.post-details4 p{margin-bottom:30px;display:block}.post-details4 ul li{color:#5b5c6e;font-weight:700;font-size:18px;display:block}.post-details4 ul li span{color:#5b5c6e;font-weight:400;font-size:16px;display:inline-block;padding-left:18px}@media only screen and (min-width: 992px) and (max-width: 1199px){.company-img-details{margin-bottom:20px}}@media (max-width: 767px){.job-listing-area{padding-top:70px;padding-bottom:70px}}@media only screen and (min-width: 576px) and (max-width: 767px){.job-listing-area{padding-top:70px;padding-bottom:70px}}.job-listing-area .count-job{display:flex;justify-content:space-between;flex-wrap:wrap}
  .job-listing-area .count-job span{padding-right:15px;color:#1e2147;font-size:16px}@media (max-width: 767px){.job-listing-area .count-job span{margin-bottom:30px}}.job-listing-area .count-job .select-job-items{display:flex}.job-listing-area .count-job .select-job-items .nice-select{width:100px;height:30px;background:#fff;border-radius:0px;padding:10px 12px;color:#5d5d5d;line-height:6px;border:1px solid #ededed;border-radius:5px}@media (max-width: 767px){.job-listing-area .count-job .select-job-items .nice-select{margin-bottom:20px;padding-left:25px}}@media only screen and (min-width: 576px) and (max-width: 767px){.job-listing-area .count-job .select-job-items .nice-select{margin-bottom:20px;padding-left:25px}}.job-listing-area .count-job .select-job-items .nice-select .list{width:100%}.job-listing-area .count-job .select-job-items .nice-select.open .list{width:100%;border-radius:0;border:0}.job-listing-area .count-job .select-job-items .nice-select::after{border-bottom:1px solid #a9b6cd;border-right:1px solid #a9b6cd;height:8px;width:8px;margin-top:-5px;right:17px}.job-category-listing{border:1px solid #ededed;padding:30px 19px 30px 30px}@media only screen and (min-width: 992px) and (max-width: 1199px){.job-category-listing{padding:30px 19px 30px 16px}}@media only screen and (min-width: 768px) and (max-width: 991px){.job-category-listing{padding:30px 19px 30px 16px}}.job-category-listing .single-listing .select-job-items2 .nice-select{width:100%;height:45px;background:#fff;border-radius:0px;padding:11px 19px 11px 10px;color:#616875;line-height:20px;border:1px solid #ededed}@media (max-width: 767px){.job-category-listing .single-listing .select-job-items2 .nice-select{margin-bottom:20px;padding-left:25px}}@media only screen and (min-width: 576px) and (max-width: 767px){.job-category-listing .single-listing .select-job-items2 .nice-select{margin-bottom:20px;padding-left:25px}}.job-category-listing .single-listing .select-job-items2 .nice-select .list{width:100%}.job-category-listing .single-listing .select-job-items2 .nice-select.open .list{width:100%;border-radius:0;border:0}.job-category-listing .single-listing .select-job-items2 .nice-select::after{border-bottom:1px solid #a9b6cd;border-right:1px solid #a9b6cd;height:12px;width:12px;margin-top:-9px;right:29px}.job-category-listing .single-listing .select-Categories .container{display:block;position:relative;padding-left:35px;margin-bottom:12px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#666666;font-size:16px}@media (max-width: 767px){.job-category-listing .single-listing .select-Categories .container{font-size:14px}}.job-category-listing .single-listing .select-Categories .container input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}.job-category-listing .single-listing .select-Categories .checkmark{position:absolute;top:0;left:0;height:24px;width:24px;border:1px solid  #ddd}.job-category-listing .single-listing .select-Categories .container input:checked ~ .checkmark{background-color:#ff4357;border:2px solid transparent}.job-category-listing .single-listing .select-Categories .checkmark:after{content:"";position:absolute;display:none}.job-category-listing .single-listing .select-Categories .container input:checked ~ .checkmark:after{display:block}.job-category-listing .single-listing .select-Categories .container .checkmark::after{left:8px;top:1px;width:6px;height:14px;border:solid white;border-width:0px 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.range_item p{margin-bottom:0}.price_value input{border:0px;text-align:center;max-width:50px;background-color:transparent}.price_value{align-items:center}.irs-to,.irs-from,.irs-max,.irs-min{display:none}.price_rangs_aside .l_w_title h3{line-height:20px;margin-bottom:0px}.irs-bar{height:6px;top:33px;border-top:1px solid #1b83bf;border-bottom:1px solid #1b83bf;background:#1b83bf;background:linear-gradient(to top, #1b83bf 0%, #1b83bf 100%)}.irs-line{height:6px;top:33px;background:linear-gradient(to bottom, #ffeaef -50%, #ffeaef 150%);border:1px solid #ffeaef;border-radius:16px;-moz-border-radius:16px}.irs-slider{height:15px;width:15px;border:1px solid #1b83bf;background-color:#1b83bf;background:linear-gradient(to bottom, #1b83bf 0%, #1b83bf 20%, #1b83bf 100%);top:28px;box-shadow:none;border-radius:0}@media (max-width: 991px){.product_bar_item{width:100% !important}}@media (max-width: 991px){.product_top_bar{margin-top:70px}.product_top_bar h2{font-size:25px}.product_bar_single{margin-left:0;margin-right:5px}.product_bar_single .nice-select{padding-left:15px;padding-right:35px}}@media only screen and (min-width: 992px) and (max-width: 1199px){.pagination-area{padding-bottom:50px}}@media only screen and (min-width: 768px) and (max-width: 991px){.pagination-area{padding-bottom:50px}}@media only screen and (min-width: 576px) and (max-width: 767px){.pagination-area{padding-bottom:50px}}@media (max-width: 767px){.pagination-area{padding-bottom:50px}}.pagination-area .page-item{margin:0}.pagination-area .page-item:first-child{margin:0}.pagination-area .page-link{border:0;font-size:15px;text-align:center;background:none;box-shadow:none;outline:0;color:#777777;padding:11px 12px;background:#fff;margin:0 3px;border-radius:5px;border:1px solid #f0f0f0}.pagination-area .page-link:hover{color:#fb246a}.pagination-area .page-item.active .page-link{z-index:1;border:0;position:relative;box-shadow:none;outline:0;background:#242b5e;color:#fff}

  latest-blog-area .area-heading{margin-bottom:70px}.blog_area a{color:"Muli",sans-serif !important;text-decoration:none;transition:.4s}.blog_area a:hover,.blog_area a :hover{background:-webkit-linear-gradient(131deg,#1b83bf 0%, #1b83bf 99%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-decoration:none;transition:.4s}.single-blog{overflow:hidden;margin-bottom:30px}.single-blog:hover{box-shadow:0px 10px 20px 0px rgba(42,34,123,0.1)}.single-blog .thumb{overflow:hidden;position:relative}.single-blog .thumb:after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}.single-blog h4{border-bottom:1px solid #dfdfdf;padding-bottom:34px;margin-bottom:25px}.single-blog a{font-size:20px;font-weight:600}.single-blog .date{color:#666666;text-align:left;display:inline-block;font-size:13px;font-weight:300}.single-blog .tag{text-align:left;display:inline-block;float:left;font-size:13px;font-weight:300;margin-right:22px;position:relative}.single-blog .tag:after{content:'';position:absolute;width:1px;height:10px;background:#acacac;right:-12px;top:7px}@media (max-width: 1199px){.single-blog .tag{margin-right:8px}.single-blog .tag:after{display:none}}.single-blog .likes{margin-right:16px}@media (max-width: 800px){.single-blog{margin-bottom:30px}}.single-blog .single-blog-content{padding:30px}.single-blog .single-blog-content .meta-bottom p{font-size:13px;font-weight:300}.single-blog .single-blog-content .meta-bottom i{color:#fdcb9e;font-size:13px;margin-right:7px}@media (max-width: 1199px){.single-blog .single-blog-content{padding:15px}}.single-blog:hover .thumb:after{opacity:.7;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}@media (max-width: 1199px){.single-blog h4{transition:all 300ms linear 0s;border-bottom:1px solid #dfdfdf;padding-bottom:14px;margin-bottom:12px}.single-blog h4 a{font-size:18px}}.full_image.single-blog{position:relative}.full_image.single-blog .single-blog-content{position:absolute;left:35px;bottom:0;opacity:0;visibility:hidden;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}@media (min-width: 992px){.full_image.single-blog .single-blog-content{bottom:100px}}.full_image.single-blog h4{-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;border-bottom:none;padding-bottom:5px}.full_image.single-blog a{font-size:20px;font-weight:600}.full_image.single-blog .date{color:#fff}.full_image.single-blog:hover .single-blog-content{opacity:1;visibility:visible;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}.l_blog_item .l_blog_text .date{margin-top:24px;margin-bottom:15px}.l_blog_item .l_blog_text .date a{font-size:12px}.l_blog_item .l_blog_text h4{font-size:18px;border-bottom:1px solid #eeeeee;margin-bottom:0px;padding-bottom:20px;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}.l_blog_item .l_blog_text p{margin-bottom:0px;padding-top:20px}.causes_slider .owl-dots{text-align:center;margin-top:80px}.causes_slider .owl-dots .owl-dot{height:14px;width:14px;background:#eeeeee;display:inline-block;margin-right:7px}.causes_slider .owl-dots .owl-dot:last-child{margin-right:0px}.causes_item{background:#fff}.causes_item .causes_img{position:relative}.causes_item .causes_img .c_parcent{position:absolute;bottom:0px;width:100%;left:0px;height:3px;background:rgba(255,255,255,0.5)}.causes_item .causes_img .c_parcent span{width:70%;height:3px;position:absolute;left:0px;bottom:0px}.causes_item .causes_img .c_parcent span:before{content:"75%";position:absolute;right:-10px;bottom:0px;color:#fff;padding:0px 5px}.causes_item .causes_text{padding:30px 35px 40px 30px}.causes_item .causes_text h4{font-size:18px;font-weight:600;margin-bottom:15px;cursor:pointer}.causes_item .causes_text p{font-size:14px;line-height:24px;font-weight:300;margin-bottom:0px}.causes_item .causes_bottom a{width:50%;border:1px solid;text-align:center;float:left;line-height:50px;color:#fff;font-size:14px;font-weight:500}.causes_item .causes_bottom a+a{border-color:#eeeeee;background:#fff;font-size:14px}.latest_blog_area{background:#f9f9ff}.single-recent-blog-post{margin-bottom:30px}.single-recent-blog-post .thumb{overflow:hidden}.single-recent-blog-post .thumb img{transition:all 0.7s linear}.single-recent-blog-post .details{padding-top:30px}.single-recent-blog-post .details .sec_h4{line-height:24px;padding:10px 0px 13px;transition:all 0.3s linear}.single-recent-blog-post .date{font-size:14px;line-height:24px;font-weight:400}.single-recent-blog-post:hover img{transform:scale(1.23) rotate(10deg)}.tags .tag_btn{font-size:12px;font-weight:500;line-height:20px;border:1px solid #eeeeee;display:inline-block;padding:1px 18px;text-align:center}.tags .tag_btn+.tag_btn{margin-left:2px}.blog_categorie_area{padding-top:30px;padding-bottom:30px}@media (min-width: 900px){.blog_categorie_area{padding-top:80px;padding-bottom:80px}}@media (min-width: 1100px){.blog_categorie_area{padding-top:120px;padding-bottom:120px}}.categories_post{position:relative;text-align:center;cursor:pointer}.categories_post img{max-width:100%}.categories_post .categories_details{position:absolute;top:20px;left:20px;right:20px;bottom:20px;background:rgba(34,34,34,0.75);color:#fff;transition:all 0.3s linear;display:flex;align-items:center;justify-content:center}.categories_post .categories_details h5{margin-bottom:0px;font-size:18px;line-height:26px;text-transform:uppercase;color:#fff;position:relative}.categories_post .categories_details p{font-weight:300;font-size:14px;line-height:26px;margin-bottom:0px}.categories_post .categories_details .border_line{margin:10px 0px;background:#fff;width:100%;height:1px}.categories_post:hover .categories_details{background:rgba(222,99,32,0.85)}.blog_item{margin-bottom:50px}.blog_details{padding:30px 0 20px 10px;box-shadow:0px 10px 20px 0px rgba(221,221,221,0.3)}@media (min-width: 768px){.blog_details{padding:60px 30px 35px 35px}}.blog_details p{margin-bottom:30px}.blog_details a{color:#242b5e}.blog_details a:hover{color:#fb246a}.blog_details h2{font-size:18px;font-weight:600;margin-bottom:8px}@media (min-width: 768px){.blog_details h2{font-size:24px;margin-bottom:15px}}.blog-info-link li{float:left;font-size:14px}.blog-info-link li a{color:#999999}.blog-info-link li i,.blog-info-link li span{font-size:13px;margin-right:5px}.blog-info-link li::after{content:"|";padding-left:10px;padding-right:10px}.blog-info-link li:last-child::after{display:none}.blog-info-link::after{content:"";display:block;clear:both;display:table}.blog_item_img{position:relative}.blog_item_img .blog_item_date{position:absolute;bottom:-10px;left:10px;display:block;color:#fff;background-color:#fb246a;padding:8px 15px;border-radius:5px}@media (min-width: 768px){.blog_item_img .blog_item_date{bottom:-20px;left:40px;padding:13px 30px}}.blog_item_img .blog_item_date h3{font-size:22px;font-weight:600;color:#fff;margin-bottom:0;line-height:1.2}@media (min-width: 768px){.blog_item_img .blog_item_date h3{font-size:30px}}.blog_item_img .blog_item_date p{font-size:18px;margin-bottom:0;color:#fff}@media (min-width: 768px){.blog_item_img .blog_item_date p{font-size:18px}}.blog_right_sidebar .widget_title{font-size:20px;margin-bottom:40px}.blog_right_sidebar .widget_title::after{content:"";display:block;padding-top:15px;border-bottom:1px solid #f0e9ff}.blog_right_sidebar .single_sidebar_widget{background:#fbf9ff;padding:30px;margin-bottom:30px}.blog_right_sidebar .single_sidebar_widget .btn_1{margin-top:0px}.blog_right_sidebar .search_widget .form-control{height:50px;border-color:#f0e9ff;font-size:13px;color:#999999;padding-left:20px;border-radius:0;border-right:0}.blog_right_sidebar .search_widget .form-control::placeholder{color:#999999}.blog_right_sidebar .search_widget .form-control:focus{border-color:#f0e9ff;outline:0;box-shadow:none}.blog_right_sidebar .search_widget .input-group button{background:#fb246a;border-left:0;border:1px solid #f0e9ff;padding:4px 15px;border-left:0;cursor:pointer}.blog_right_sidebar .search_widget .input-group button i{color:#fff}.blog_right_sidebar .search_widget .input-group button span{font-size:14px;color:#999999}.blog_right_sidebar .newsletter_widget .form-control{height:50px;border-color:#f0e9ff;font-size:13px;color:#999999;padding-left:20px;border-radius:0}.blog_right_sidebar .newsletter_widget .form-control::placeholder{color:#999999}.blog_right_sidebar .newsletter_widget .form-control:focus{border-color:#f0e9ff;outline:0;box-shadow:none}.blog_right_sidebar .newsletter_widget .input-group button{background:#fff;border-left:0;border:1px solid #f0e9ff;padding:4px 15px;border-left:0}.blog_right_sidebar .newsletter_widget .input-group button i,.blog_right_sidebar .newsletter_widget .input-group button span{font-size:14px;color:#fff}.blog_right_sidebar .post_category_widget .cat-list li{border-bottom:1px solid #f0e9ff;transition:all 0.3s ease 0s;padding-bottom:12px}.blog_right_sidebar .post_category_widget .cat-list li:last-child{border-bottom:0}.blog_right_sidebar .post_category_widget .cat-list li a{font-size:14px;line-height:20px;color:#888888}.blog_right_sidebar .post_category_widget .cat-list li a p{margin-bottom:0px}
  .blog_right_sidebar .post_category_widget .cat-list li+li{padding-top:15px}.blog_right_sidebar .popular_post_widget .post_item .media-body{justify-content:center;align-self:center;padding-left:20px}.blog_right_sidebar .popular_post_widget .post_item .media-body h3{font-size:16px;line-height:20px;margin-bottom:6px;transition:all 0.3s linear}.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover{color:#fff}.blog_right_sidebar .popular_post_widget .post_item .media-body p{font-size:14px;line-height:21px;margin-bottom:0px}.blog_right_sidebar .popular_post_widget .post_item+.post_item{margin-top:20px}.blog_right_sidebar .tag_cloud_widget ul li{display:inline-block}.blog_right_sidebar .tag_cloud_widget ul li a{display:inline-block;border:1px solid #eeeeee;background:#fff;padding:4px 20px;margin-bottom:8px;margin-right:3px;transition:all 0.3s ease 0s;color:#888888;font-size:13px}.blog_right_sidebar .tag_cloud_widget ul li a:hover{background:#1b83bf;color:#fff !important;-webkit-text-fill-color:#fff;text-decoration:none;-webkit-transition:0.5s;transition:0.5s}.blog_right_sidebar .instagram_feeds .instagram_row{display:flex;margin-right:-6px;margin-left:-6px}.blog_right_sidebar .instagram_feeds .instagram_row li{width:33.33%;float:left;padding-right:6px;padding-left:6px;margin-bottom:15px}.blog_right_sidebar .br{width:100%;height:1px;background:#eee;margin:30px 0px}.blog-pagination{margin-top:80px}
  .blog-pagination -item.active .page-link{background-color:#fbf9ff;border-color:#f0e9ff;color:#888888}.blog-pagination .page-item:last-child .page-link{margin-right:0}.single-post-area .blog_details{box-shadow:none;padding:0}.single-post-area .social-links{padding-top:10px}.single-post-area .social-links li{display:inline-block;margin-bottom:10px}.single-post-area .social-links li a{color:#cccccc;padding:7px;font-size:14px;transition:all 0.2s linear}.single-post-area .blog_details{padding-top:26px}.single-post-area .blog_details p{margin-bottom:20px;font-size:15px}.single-post-area .quote-wrapper{background:rgba(130,139,178,0.1);padding:15px;line-height:1.733;color:#888888;font-style:italic;margin-top:25px;margin-bottom:25px}@media (min-width: 768px){.single-post-area .quote-wrapper{padding:30px}}.single-post-area .quotes{background:#fff;padding:15px 15px 15px 20px;border-left:2px solid}@media (min-width: 768px){.single-post-area .quotes{padding:25px 25px 25px 30px}}.single-post-area .arrow{position:absolute}.single-post-area .arrow .lnr{font-size:20px;font-weight:600}.single-post-area .thumb .overlay-bg{background:rgba(0,0,0,0.8)}.single-post-area .navigation-top{padding-top:15px;border-top:1px solid #f0e9ff}.single-post-area .navigation-top p{margin-bottom:0}.single-post-area .navigation-top .like-info{font-size:14px}.single-post-area .navigation-top .like-info i,.single-post-area .navigation-top .like-info span{font-size:16px;margin-right:5px}.single-post-area .navigation-top .comment-count{font-size:14px}.single-post-area .navigation-top .comment-count i,.single-post-area .navigation-top .comment-count span{font-size:16px;margin-right:5px}.single-post-area .navigation-top .social-icons li{display:inline-block;margin-right:15px}.single-post-area .navigation-top .social-icons li:last-child{margin:0}.single-post-area .navigation-top .social-icons li i,.single-post-area .navigation-top .social-icons li span{font-size:14px;color:#999999}.single-post-area .blog-author{padding:40px 30px;background:#fbf9ff;margin-top:50px}@media (max-width: 600px){.single-post-area .blog-author{padding:20px 8px}}.single-post-area .blog-author img{width:90px;height:90px;border-radius:50%;margin-right:30px}@media (max-width: 600px){.single-post-area .blog-author img{margin-right:15px;width:45px;height:45px}}.single-post-area .blog-author a{display:inline-block}.single-post-area .blog-author a:hover{color:#fb246a}.single-post-area .blog-author p{margin-bottom:0;font-size:15px}.single-post-area .blog-author h4{font-size:16px}.single-post-area .navigation-area{border-bottom:1px solid #eee;padding-bottom:30px;margin-top:55px}.single-post-area .navigation-area p{margin-bottom:0px}.single-post-area .navigation-area h4{font-size:18px;line-height:25px}.single-post-area .navigation-area .nav-left{text-align:left}.single-post-area .navigation-area .nav-left .thumb{margin-right:20px;background:#000}.single-post-area .navigation-area .nav-left .thumb img{-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}.single-post-area .navigation-area .nav-left .lnr{margin-left:20px;opacity:0;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}.single-post-area .navigation-area .nav-left:hover .lnr{opacity:1}.single-post-area .navigation-area .nav-left:hover .thumb img{opacity:.5}@media (max-width: 767px){.single-post-area .navigation-area .nav-left{margin-bottom:30px}}.single-post-area .navigation-area .nav-right{text-align:right}.single-post-area .navigation-area .nav-right .thumb{margin-left:20px;background:#000}.single-post-area .navigation-area .nav-right .thumb img{-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}.single-post-area .navigation-area .nav-right .lnr{margin-right:20px;opacity:0;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s}.single-post-area .navigation-area .nav-right:hover .lnr{opacity:1}.single-post-area .navigation-area .nav-right:hover .thumb img{opacity:.5}@media (max-width: 991px){.single-post-area .sidebar-widgets{padding-bottom:0px}}.comments-area{background:transparent;border-top:1px solid #eee;padding:45px 0;margin-top:50px}@media (max-width: 414px){.comments-area{padding:50px 8px}}.comments-area h4{margin-bottom:35px;font-size:18px}.comments-area h5{font-size:16px;margin-bottom:0px}.comments-area .comment-list{padding-bottom:48px}.comments-area .comment-list:last-child{padding-bottom:0px}.comments-area .comment-list.left-padding{padding-left:25px}@media (max-width: 413px){.comments-area .comment-list .single-comment h5{font-size:12px}.comments-area .comment-list .single-comment .date{font-size:11px}.comments-area .comment-list .single-comment .comment{font-size:10px}}.comments-area .thumb{margin-right:20px}.comments-area .thumb img{width:70px;border-radius:50%}.comments-area .date{font-size:14px;color:#999999;margin-bottom:0;margin-left:20px}.comments-area .comment{margin-bottom:10px;color:#777777;font-size:15px}.comments-area .btn-reply{background-color:transparent;color:#888888;padding:5px 18px;font-size:14px;display:block;font-weight:400}.comment-form{border-top:1px solid #eee;padding-top:45px;margin-top:50px;margin-bottom:20px}.comment-form .form-group{margin-bottom:30px}.comment-form h4{margin-bottom:40px;font-size:18px;line-height:22px}.comment-form .name{padding-left:0px}@media (max-width: 767px){.comment-form .name{padding-right:0px;margin-bottom:1rem}}.comment-form .email{padding-right:0px}@media (max-width: 991px){.comment-form .email{padding-left:0px}}.comment-form .form-control{border:1px solid #f0e9ff;border-radius:5px;height:48px;padding-left:18px;font-size:13px;background:transparent}.comment-form .form-control:focus{outline:0;box-shadow:none}.comment-form .form-control::placeholder{font-weight:300;color:#999999}.comment-form .form-control::placeholder{color:#777777}.comment-form textarea{padding-top:18px;border-radius:12px;height:100% !important}.comment-form ::-webkit-input-placeholder{font-size:13px;color:#777}.comment-form ::-moz-placeholder{font-size:13px;color:#777}.comment-form :-ms-input-placeholder{font-size:13px;color:#777}.comment-form :-moz-placeholder{font-size:13px;color:#777}.home-blog-area .home-blog-single{-webkit-transition:all .4s ease-out 0s;-moz-transition:all .4s ease-out 0s;-ms-transition:all .4s ease-out 0s;-o-transition:all .4s ease-out 0s;transition:all .4s ease-out 0s}.home-blog-area .home-blog-single .blog-img-cap .blog-img{overflow:hidden;position:relative}.home-blog-area .home-blog-single .blog-img-cap .blog-img img{width:100%;-webkit-transform:scale 1;-ms-transform:scale 1;transform:scale 1;transition:all 0.5s ease-out 0s}.home-blog-area .home-blog-single .blog-img-cap .blog-img .blog-date{background:#ff2424;padding:15px 34px;display:inline-block;position:absolute;bottom:0;left:0}@media only screen and (min-width: 768px) and (max-width: 991px){.home-blog-area .home-blog-single .blog-img-cap .blog-img .blog-date{padding:8px 20px}}@media only screen and (min-width: 576px) and (max-width: 767px){.home-blog-area .home-blog-single .blog-img-cap .blog-img .blog-date{padding:8px 20px}}@media (max-width: 767px){.home-blog-area .home-blog-single .blog-img-cap .blog-img .blog-date{padding:8px 20px}}.home-blog-area .home-blog-single .blog-img-cap .blog-img .blog-date span{color:#fff;font-size:25px;font-weight:600;line-height:1;margin:0}@media only screen and (min-width: 768px) and (max-width: 991px){.home-blog-area .home-blog-single .blog-img-cap .blog-img .blog-date span{font-size:22px}}@media only screen and (min-width: 576px) and (max-width: 767px){.home-blog-area .home-blog-single .blog-img-cap .blog-img .blog-date span{font-size:22px}}@media (max-width: 767px){.home-blog-area .home-blog-single .blog-img-cap .blog-img .blog-date span{font-size:22px}}.home-blog-area .home-blog-single .blog-img-cap .blog-img .blog-date p{color:#fff;margin:0}.home-blog-area .home-blog-single .blog-img-cap .blog-cap{background:#fff;padding:37px 129px 37px 50px;border:1px solid #f7f7f7}@media only screen and (min-width: 992px) and (max-width: 1199px){.home-blog-area .home-blog-single .blog-img-cap .blog-cap{padding:37px 23px 37px 45px}}@media only screen and (min-width: 576px) and (max-width: 767px){.home-blog-area .home-blog-single .blog-img-cap .blog-cap{padding:19px 8px 17px 18px}}@media only screen and (min-width: 768px) and (max-width: 991px){.home-blog-area .home-blog-single .blog-img-cap .blog-cap{padding:19px 8px 17px 18px}}@media (max-width: 767px){.home-blog-area .home-blog-single .blog-img-cap .blog-cap{padding:19px 8px 17px 18px}}.home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a{color:#191d34;font-size:24px;font-weight:700;line-height:1.4;margin-bottom:20px;display:block}.home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a:hover{color:#fb246a}@media only screen and (min-width: 768px) and (max-width: 991px){.home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a{font-size:19px}}@media only screen and (min-width: 576px) and (max-width: 767px){.home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a{font-size:19px}}@media (max-width: 767px){.home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a{font-size:19px}}.home-blog-area .home-blog-single .blog-img-cap .blog-cap .more-btn{color:#3a3a3a;text-transform:uppercase;font-size:14px;font-family:"Muli",sans-serif;color:#3a3a3a}.home-blog-area .home-blog-single .blog-img-cap .blog-cap .more-btn:hover{color:#014b85}
  .home-blog-single:hover{box-shadow:0px 22px 57px 0px rgba(34,41,72,0.05)}
  .home-blog-single:hover .blog-img img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}.blog-area .single-blog{box-shadow:1.395px 19.951px 38px 0px rgba(0,0,0,0.05);transition:.4s}.blog-area .single-blog:hover .blog-img img{transform:rotate(1deg) scale(1.1)}.blog-area .single-blog .blog-img{overflow:hidden}.blog-area .single-blog .blog-img img{width:100%;transform:rotate(0deg) scale(1);-webkit-transition:all .4s ease-out 0s;-moz-transition:all .4s ease-out 0s;-ms-transition:all .4s ease-out 0s;-o-transition:all .4s ease-out 0s;transition:all .4s ease-out 0s}.blog-area .single-blog .blog-caption{padding:22px 40px 20px 40px}@media (max-width: 767px){.blog-area .single-blog .blog-caption{padding:22px 22px 20px 20px}}.blog-area .single-blog .blog-caption .blog-cap-top span{color:#fff;background:#fb246a;padding:4px 13px;text-transform:uppercase;font-size:14px;font-weight:300;border-radius:5px}.blog-area .single-blog .blog-caption .blog-cap-top ul li{color:#c7c7c7;font-size:14px;font-family:'Lato', sans-serif}.blog-area .single-blog .blog-caption .blog-cap-top ul li a{color:#fb246a;font-size:14px}.blog-area .single-blog .blog-caption .blog-cap-mid p a{color:#444444;font-size:18px;font-family:'Lato', sans-serif;line-height:28px;margin-bottom:30px}@media (max-width: 767px){.blog-area .single-blog .blog-caption .blog-cap-mid p a{font-size:14px}}.blog-area .single-blog .blog-caption .blog-cap-mid p a:hover{color:#fb246a}.blog-area .single-blog .blog-caption .blog-cap-bottom{padding-top:20px;border-top:1px solid #f9f9f9}.blog-area .single-blog .blog-caption .blog-cap-bottom span{color:#adadad;font-size:14px}.blog-area .single-blog .blog-caption .blog-cap-bottom span img{margin-right:5px}.pb-168{padding-bottom:168px}.dropdown .dropdown-menu{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s}.contact-info{margin-bottom:25px}.contact-info__icon{margin-right:20px}.contact-info__icon i,.contact-info__icon span{color:#8f9195;font-size:27px}.contact-info .media-body h3{font-size:16px;margin-bottom:0;font-size:16px;color:#2a2a2a}.contact-info .media-body h3 a:hover{color:#1f2b7b}.contact-info .media-body p{color:#8a8a8a}.contact-title{font-size:27px;font-weight:600;margin-bottom:20px}.form-contact label{font-size:14px}.form-contact .form-group{margin-bottom:30px}.form-contact .form-control{border:1px solid #e5e6e9;border-radius:0px;height:48px;padding-left:18px;font-size:13px;background:transparent}